#result{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);

    p{
        text-transform: capitalize;
        font-size: 50px;
        text-align: center;
        color: #FF6D00;
    }
}