.p-0{
    padding: 0px;
}

p{
    width: max-content;
    height: max-content;
    font-size: 30px;
    margin: 0px auto;
}

ion-button{
    width: 90%;
    margin: 1px auto;
    padding: 4px 0px;
}

#container {
    margin: 10px 0px 15px 0px;
}

.delete{
    background-color: transparent;
}

.result{
    margin: 1rem;

    p{
        font-size:xx-large;
        font-weight: bold;
    }
}