<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sumadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sumadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-item>
      <ion-grid class="p-0">
        <ion-row class="p-0">
          <ion-col size="5" class="p-0">
            <ion-input
              type="number"
              class="p-0"
              placeholder="89"
              [(ngModel)]="value.num1"
            ></ion-input>
          </ion-col>
          <ion-col size="2" class="p-0">
            <p>{{operation}}</p>
          </ion-col>
          <ion-col size="5" class="p-0">
            <ion-input
              type="number"
              class="p-0"
              placeholder="10"
              [(ngModel)]="value.num2"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


      <ion-row>
        <ion-col size="3"><ion-button shape="round" (click)="selectButton('+')" [fill]=" operation === '+' ? 'solid' : 'outline'">+</ion-button></ion-col>
        <ion-col size="3"><ion-button shape="round" (click)="selectButton('-')" [fill]=" operation === '-' ? 'solid' : 'outline'">-</ion-button></ion-col>
        <ion-col size="3"><ion-button shape="round" (click)="selectButton('/')" [fill]=" operation === '/' ? 'solid' : 'outline'">/</ion-button></ion-col>
        <ion-col size="3"><ion-button shape="round" (click)="selectButton('x')" [fill]=" operation === 'x' ? 'solid' : 'outline'">x</ion-button></ion-col>
      </ion-row>

   
    <div class="result">
      <p>{{ getOperation(value.num1, value.num2)}}</p>
    </div>

    
    <ion-button id="btn" expand="block" fill="outline" mode="ios" shape="round" (click)="save()">Registrar</ion-button>
    <ion-list mode="ios">
      <ion-list-header mode="ios">
        Resultado
      </ion-list-header>
      <ion-item *ngFor="let r of results; index as i">
        {{ r.value}}
        <button
          class="delete"
          fill="clear"
          slot="end"
          title="eliminar"
          (click)="delete(r)">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="!results.length"> Historial vacio </ion-item>
    </ion-list>
  </div>
</ion-content>
