<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sum</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-item>
      <ion-grid class="p-0">
        <ion-row class="p-0">
          <ion-col size="5" class="p-0">
            <ion-input
              type="number"
              class="p-0"
              placeholder="89"
              [(ngModel)]="value.num1"
            ></ion-input>
          </ion-col>
          <ion-col size="2" class="p-0">
            <p>+</p>
          </ion-col>
          <ion-col size="5" class="p-0">
            <ion-input
              type="number"
              class="p-0"
              placeholder="10"
              [(ngModel)]="value.num2"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <div class="result">
      <p>{{ value.num1 + value.num2}}</p>
    </div>

    <ion-button expand="block" fill="outline" mode="ios" (click)="calculate()"
      >Registrar</ion-button
    >
  
  <ion-list mode="ios">
    <ion-list-header mode="ios"
      >Resultados:
      <span *ngIf="value.num1 != null || value.num2 != null"
        >{{ value.num1 + value.num2}}</span
      ></ion-list-header
    >
    <ion-item *ngFor="let r of results; index as i">
      {{ r.value.num1}} + {{r.value.num2}} = {{r.value.num1 + r.value.num2}}
      <button
        class="delete"
        fill="clear"
        slot="end"
        title="eliminar"
        (click)="delete(r)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="!results.length" > Historial vacio </ion-item>
  </ion-list>
</div>
</ion-content>
